div {
    font-family: monospace , serif;
    margin: auto;
    width: 75%;
    border: solid;
    background-color: aquamarine;
}

ol, ul {
    margin: 2em auto;
}

h1, h2 {
    text-align: center;
}

img {
    height: auto;
    width: 50%;
    display: block;
    margin: 0 auto; 
}

html{
    background-color: aqua;
}

ol {
    padding-left: 3em;
}